@{
    ViewData["Title"] = "Home Page";
}
<table border="0">
    <caption>Услуги</caption>
    <tr>
        <th>Код</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Стоимость</th>
        <th></th>
    </tr>
    @foreach (var adservices in Model.AdditionalServices)
            {
        <tr>
            <td>@adservices.ServiceId</td>
            <td>@adservices.AdServName  </td>
            <td>@adservices.Description  </td>
            <td>@adservices.Price  </td>


        </tr>
    }
</table>

<br>
<table border="0">
    <tr>
        <td>
            <table>
                <caption>Аренда</caption>
                <tr>
                    <th>Код</th>
                    <th>Имя сотрудника</th>
                    <th>Название услугии</th>
                    <th>Период</th>
                    <th>Стоимость</th>
                    <th>Детали</th>
                    <th></th>
                </tr>
                @foreach (var cr in Model.CarsRental)
                {



                    <tr>
                        <td>@cr.RentId  </td>
                        <td>@cr.Customers.CustomerName  </td>
                        <td>@cr.AdditionalServices.AdServName  </td>
                        <td>@cr.RentalPeriod  </td>
                        <td>@cr.PriceRental  </td>
                        <td>@cr.PaymentNote  </td>
                    </tr>


                }



            </table>
        </td>
    </tr>
</table>
<br>
<table>
    <caption>Пользов</caption>
    <tr>
        <th>Код</th>
        <th>Имя</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Паспорт</th>
        <th></th>
    </tr>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.CustomerId  </td>
            <td>@customer.CustomerName  </td>
            <td>@customer.Adress  </td>
            <td>@customer.PhoneNumber  </td>
            <td>@customer.PassportData  </td>
        </tr>
    }
</table>
